<div>
  <h1>Ejemplo directiva estructural</h1>
  <p>
    Se trata de una directiva más avanzada que un simple ngIf pues tomamos el
    control
  </p>
  <p>
    y podemos realizar Scripts que se puedan ejecutar antes de actulizar la
    vista
  </p>

  <p *rolCorrecto="rol">
    Ejemplo basico: Contenido oculto para los que no tienen el rol
  </p>
  <!--* Si el rol es true se mostrara el contenido, con el boton cambio el valor de la var rol  -->
  <div>
    <button (click)="cambiarRol()">
      {{ !rol ? "MOSTRAR" : "OCULTAR" }}
    </button>
  </div>
</div>
