<div>
  <h1>Ejemplo de uso de directiva de Atributo</h1>
  <p>Sirve para cambiar el color de fondo de cualquier componente</p>
  <p>
    Al pasar el raton por encima se aplica el color y al quitar el raton se
    quita
  </p>
  <section>
    <h2>Selecciona un color para resaltar:</h2>

      <input type="radio" name="colors" (click)="color = 'yellow'" /><span
        >amarilo</span
      >
      <input type="radio" name="colors" (click)="color = 'lightgreen'" /><span
        >verde</span
      >
      <input type="radio" name="colors" (click)="color = 'cyan'" /><span
        >cian</span
      >

  </section>

  <!-- Texto para resaltar -->
  <div>
    <p [appHighLight]="color">
      Texto para probar la directiva sin un color por default
    </p>
    <p [appHighLight]="color" defaultColor="violet">
      Texto para probar la directiva con un color por default
    </p>
  </div>
</div>
