<form [formGroup]="formulario" (ngSubmit)="enviar()">
  <input type="text" id="id" formControlName="id" label="Id" isRequired  />
  <input
    type="text"
    id="nombre"
    formControlName="nombre"
    label="Nombre"
    isRequired
    appErrorHandler
  />
  <input
    type="text"
    id="apellido"
    formControlName="apellido"
    label="Apellido"
    isRequired
  />
  <input type="text" id="edad" formControlName="edad" label="Edad" isRequired />
  <button type="submit" [disabled]="formulario.invalid">Enviar</button>
</form>
