<form [formGroup]="formulario">
  <h3>Formulario:</h3>
  <!-- Datos en vivo del formulario -->
  <p>{{ formulario.value | json }}</p>
  <!--! NOMBRE -->

  <input formControlName="name" label="Nombre" isRequired/>

  <div *ngIf="nombre?.errors?.['required'] && nombre?.touched">
    <p class="error">* El campo Nombre es obligatorio</p>
  </div>
  <!--! EMAIL -->

  <input formControlName="email" label="Email" />

  <!--! CONTRASEÑA -->
  <label>Contraseña</label>
  <input formControlName="password"  />
</form>
